<ac-layer acFor="let polyline of polylines$" [context]="this" [show]="true">
  <ac-polyline-primitive-desc props="{
      width : polyline.width,
      positions: polyline.positions,
      material: polyline.material,
      eyeOffset : polyline.zIndex,
      zIndex: 1
    }">
  </ac-polyline-primitive-desc>


  <ac-label-primitive-desc props="{
                  position: polyline.labelPostion,
                  text: polyline.labelText,
                  font: polyline.font,


          }">
  </ac-label-primitive-desc>
</ac-layer>
